@import '../assets/styles/colors.scss';

.nav-container {
  display: flex;
  justify-content: space-between;
  .nav-logo {
    width: 120px;
    color: $primary;
    text-align: center;
  }

  .nav-menu {
    ul li {
      font-weight: 600;
      display: inline;
      margin: 0 12px;
      padding: 12px 24px;
      cursor: pointer;
      &:hover {
        background-color: $primary;
        color: $white;
        transition: .2s;
      }
    }
  }

  @media (min-width: 569px) {
    padding: 0 14%;
    .nav-menu {
      ul li {
        border-radius: 24px;
      }
    }
    .nav-icon {
      display: none;
    }
  }

  @media (max-width: 568px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nav-logo {
      background: #11998e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      padding: 12px 0;
      width: 100%;
    }
    .nav-logo h4{
      color: #fff;
      margin: 0;
    }
    .nav-menu {
      margin-top: 4px;
      ul {
        margin: 0;
        padding-left: 0;
      }

      ul li {
        display: inline-block;
        &:hover {
          background: $white;
          color: $font-paragraph;
          border-bottom: solid $font-paragraph 4px;
          border-radius: 0;
        }
      }

      .nav-text {
        display: none;
      }

      .nav-icon {
        display: block;
      }
    }
  }
}